<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="List restaurant and Favorite food from Eatery by Sofyan Egi Lesmana" />
    <title>Eatery</title>
  </head>
  <body>
    <a href="#main__content" class="skip__link" tabindex="0">Skip to content</a>
    <header>
      <navbar-section></navbar-section>
    </header>
    <hero-section></hero-section>
    <main id="main__content" tabindex="0">
      <restaurant-section></restaurant-section>
      <food-section></food-section>
    </main>
    <footer>
      <footer-section></footer-section>
    </footer>
  </body>
</html>
